/* Phone */
.Container {
  position: absolute;
  border: 0.2vh solid var(--c03);
  top: 20px;
  right: 40px;
  border-radius: 20px;
  padding: 10px;
  background: var(--c00);
}
.UserData {
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
  gap: 10px;
  padding: 0 5px;
}

.UserProfile {
  width: 50px;
  height: 50px;
  border: 0.2vh solid var(--c05);
  border-radius: 50%;
  overflow: hidden;
  background: var(--c00);
}
.UserProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.UserInfo {
  flex-direction: column;
  gap: 3px;
}

/* Tablet */
@media (min-width: 576px) {
}
/* Laptop */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 1200px) {
}
